## <a class="anchor" id="main">FoCS Lab</a>
### Contributors: Marco Distrutti, Santosh Anand

* [1 Normalization](#normalize)
* [2 Duration Field](#duration)
* [3 Search lenders](#search-lenders)
* [4 How many loans](#borrowers)
* [5 Overall amount](#overall-amount)
* [6 Overall percentage](#overall-percentage)
* [7 Overall by country/year](#year-overall-percentage)
* [8 Lenders overall](#lenders-overall)
* [9 Country, lent vs borrowed](#country-lent-borrowed)

In [24]:
import pandas as pd
import numpy as np
import itertools

df_loan_lenders = pd.read_csv('kiva-kaggle/loans_lenders.csv')
raws = df_loan_lenders

In [25]:
loan_lenders = df_loan_lenders
df_loan_lenders

         loan_id                                            lenders
0         483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1         483738  muc888, nora3555, williammanashi, barbara5610,...
2         485000  muc888, terrystl, richardandsusan8352, sherri4...
3         486087  muc888, james5068, rudi5955, daniel9859, don92...
4         534428  muc888, niki3008, teresa9174, mike4896, david7...
...          ...                                                ...
1387427   678999  michael43411218, carol5987, gooddogg1, chris41...
1387428  1207353  rjhoward1986, jeffrey6870, trolltech4460, elys...
1387429  1206220  vicky7746, gooddogg1, fairspirit, craig9729960...
1387430  1206425  rich6705, sergiiy9766, angela7509, barbara5610...
1387431  1206486                              alan5175, amy38101311

[1387432 rows x 2 columns]

## 1 <a class="anchor" id="normalize">Normalization</a>
#### Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.
[⇑ index](#main)

Using **Vectorized** operations our computations are extremly faster then looping over the dataset because Vectorized operations are heavily implemented in **C** procedures. So the strategy is to create both vectors (loan_id and lender) separatly and loan_id is generated by repeating id with vectorized products.

In [28]:
%%time

#FIRST 
## SANTOSH -> Note that the lenders are seperated by ", " 
lenders = [lender for lenders in df_loan_lenders['lenders'] for lender in lenders.split(', ')]
lenders

CPU times: user 3.14 s, sys: 757 ms, total: 3.89 s
Wall time: 4.23 s

['muc888',
 'sam4326',
 'camaran3922',
 'lachheb1865',
 'rebecca3499',
 'karlheinz4543',
 'jerrydb',
 'paula8951',
 'gmct',
 'amra9383',
 'r3922',
 'brian9451',
 'shree8053',
 'alan5513',
 'oisin3389',
 'helle8622',
 'bo3186',
 'ric8947',
 'daniel98469874',
 'nick9464',
 'deborah12671549',
 'matthew9831',
 'john6330',
 'john9479',
 'mattiaslaven',
 'jonathan2867',
 'jason3883',
 'highgrovechurch',
 'maria3124',
 'dino5102',
 'jonathan7946',
 'ann8187',
 'bryan2669',
 'john88459657',
 'eddyphil',
 'don9212',
 'carolineandcolin9686',
 'bent8782',
 'raph8817',
 'danielle2350',
 'muc888',
 'nora3555',
 'williammanashi',
 'barbara5610',
 'danhostetler',
 'danhostetler',
 'danhostetler',
 'daniel1104',
 'amirali5409',
 'oceanwest',
 'greg69396003',
 'trolltech4460',
 'thedragonflykeeper',
 'patrick8466',
 'priscilla3168',
 'muc888',
 'terrystl',
 'richardandsusan8352',
 'sherri4341',
 'mattiaslaven',
 'shree8053',
 'gooddogg1',
 'don9212',
 'raph8817',
 'danny6470',
 'jacqueline4838',
 'highgrovechurch',
 'dino5102',
 'diederik8163',
 'ryan54597608',
 'muc888',
 'james5068',
 'rudi5955',
 'daniel9859',
 'don9212',
 'chandrakant6134',
 'karyne5301',
 'robert2280',
 'darrellynne7000',
 'bryan9912',
 'shree8053',
 'sueandbob4088',
 'pennie4480',
 'muc888',
 'niki3008',
 'teresa9174',
 'mike4896',
 'david7683',
 'dittes',
 'margaret7172',
 'jessica1977',
 'william7288',
 'gooddogg1',
 'dennisg',
 'chrisbioteau',
 'pennie4480',
 'victor9593',
 'peter3881',
 'andrew8575',
 'stephen2848',
 'douglas8863',
 'arthur1148',
 'muc888',
 'tristan7990',
 'shivaun4955',
 'sam44598568',
 'mike4896',
 'catherine7003',
 'summer7416',
 'jim8842',
 'brett5260',
 'roger2252',
 'jolanda1942',
 'anila7468',
 'elizabeth31676552',
 'muc888',
 'john38425073',
 'trolltech4460',
 'marianne8717',
 'lisette1963',
 'motoharu1020',
 'motoharu1020',
 'gooddogg1',
 'elly3162',
 'lena9976',
 'omkara',
 'muc888',
 'dougal1825',
 'dougal1825',
 'jensdamsgaardvanar',
 'maeve9455',
 'ross6632',
 'toni3909',
 'ali3337',
 'eric4693',
 'mike4896',
 'martsrinandpete9620',
 'hans7879',
 'wonmilee',
 'stephen2848',
 'thomas93758238',
 'thomas1513',
 'emofund',
 'chrisbioteau',
 'phisquared',
 'nealkapur',
 'vic5854',
 'christian8925',
 'minerva9365',
 'muc888',
 'rebecca3038',
 'paul1853',
 'paul1853',
 'paul1853',
 'zach7677',
 'dana9865',
 'dana9865',
 'ankit3005',
 'erich7889',
 'judith5696',
 'judith5696',
 'judith5696',
 'klaus5005',
 'john70242429',
 'john70242429',
 'terry9343',
 'karly7529',
 'donna1305',
 'jodi8604',
 'jitendra7163',
 'leon2765',
 'elizabeth8018',
 'ramius65',
 'kevin25138119',
 'larissa7348',
 'evan5101',
 'vesa6130',
 'mortens2943',
 'corinne3582',
 'zane9551',
 'christine3066',
 'brett2942',
 'karen1474',
 'gw9898',
 'maria1361',
 'ashleyleah5650',
 'anne85489799',
 'robert7675',
 'vijay6109',
 'harald8041',
 'ken4292',
 'ken4292',
 'alexander7609',
 'rc4114',
 'bernadette6835',
 'jean2544',
 'geko',
 'lynn9800',
 'brad4706',
 'thomas9243',
 'john56443992',
 'karen84738084',
 'steve2888',
 'gayle9959',
 'melinda8816',
 'karen1024',
 'mbc1842',
 'herta6220',
 'herta6220',
 'kaleddis',
 'cruisecompete',
 'ashna3311',
 'wesley2313',
 'juan6929',
 'thomas7482',
 'dnak17',
 'gooddogg1',
 'tom7497',
 'morten9659',
 'sverker1303',
 'kenanddoris2463',
 'jennifer12256404',
 'jude',
 'marianne8308',
 'aaronplaat',
 'hollito',
 'roger9399',
 'jenjh',
 'bob6818',
 'mmm2529',
 'jultomten',
 'aaron83574977',
 'minoa',
 'donald1176',
 'henrik8047',
 'henrik8047',
 'david5193',
 'thomas93758238',
 'tippsnet',
 'tiffanyww',
 'tom2508',
 'sachin9747',
 'chris2963',
 'srenchr1931',
 'srenchr1931',
 'herta6220',
 'eva5758',
 'lukas3902',
 'peter8627',
 'katherine6420',
 'russayres',
 'joseph8886',
 'jenny1824',
 'jivan3702',
 'elizabeth6786',
 'steve2304',
 'yousaf9433',
 'anne3221',
 'pgodiwala',
 'karen27277399',
 'dale2883',
 'theo8546',
 'joannagiles7076',
 'joannagiles7076',
 'mark4564',
 'nicki2616',
 'nicki2616',
 'FrequentMiler',
 'katie52857580',
 'sara7523',
 'brent8569',
 'reetajaroope6400',
 'anna3370',
 'robert82472438',
 'lloyd5595',
 'peter3943',
 'oliver5716',
 'pureum8105',
 'trolltech4460',
 'lisa4011',
 'ryan',
 'davidberkowitz',
 'Verdad',
 'evan7711',
 'kate8576',
 'cesarpwm11',
 'tammy8086',
 'gwyneth8834',
 'john59229829',
 'olivia8246',
 'tanya2648',
 'frode1997',
 'erik8516',
 'stephane7818',
 'jill1216',
 'rory7597',
 'julien3299',
 'givingsomeback',
 'mohammad5457',
 'annemarie7077',
 'stephen6879',
 'dorothy2740',
 'gooddogg1',
 'emma8443',
 'sbastien6463',
 'frederic9655',
 'bill7550',
 'martin6086',
 'brian1080',
 'don9212',
 'kathleen2227',
 'robert5226',
 'marjo1748',
 'clive5910',
 'steven3253',
 'brooke4972',
 'tuire8253',
 'cakeordeath8064',
 'kevin7809',
 'popness',
 'herta6220',
 'maarten6927',
 'wynne1047',
 'laura4759',
 'jennifer2139',
 'daniel4451',
 'cmak',
 'drzero',
 'rferons',
 'joehoyle',
 'lucy5005',
 'liselotte2813',
 'krauspartner',
 'william8070',
 'al1898',
 'hook',
 'courtney8657',
 'victor3619',
 'sean4105',
 'afroze4263',
 'kaat7628',
 'lisa9330',
 'veronique2380',
 'james14984376',
 'mohannad',
 'dragan9652',
 'alice8507',
 'danae3046',
 'david3320',
 'dan1417',
 'mary5466',
 'karin9948',
 'holly2320',
 'david81653552',
 'peter1098',
 'katy9250',
 'race6335',
 'greg2855',
 'william61459677',
 'carlton2205',
 'jamie3277',
 'lynn3173',
 'teresaandrick',
 'coryandjona1206',
 'nancy37087482',
 'indiamos',
 'scott2473',
 '9678',
 'marilyn9210',
 'paul7054',
 'sarah5545',
 'craig97299604',
 'maria7751',
 'murray6640',
 'erin6040',
 'annw9506',
 'vasanthi',
 'sue3979',
 'pierre5880',
 'daleandcallie9707',
 'lisa4456',
 'sacham',
 'tlaurie',
 'janmarie3474',
 'marian7076',
 'allwinjose8370',
 'michele8616',
 'lucy4898',
 'michael68567474',
 'ryanandjoanna6615',
 'suresh6523',
 'joannagiles7076',
 'danlandrum',
 'Oliver10303',
 'jennifer6373',
 'sue7474',
 'elsa2087',
 'patrick1809',
 'elizabeth6032',
 'shauna6520',
 'james1059',
 'mark4231',
 'erika7219',
 'herta6220',
 'benjamin3549',
 'jim2503',
 'sarah4958',
 'anneke9304',
 'houseofprayer2259',
 'rune8044',
 'joseph2420',
 'andreaandwouter6544',
 'anthony9138',
 'harald2732',
 'tony9074',
 'lesley6172',
 'kevinandmary6376',
 'deepakgeetakevinronak',
 'khanh2725',
 'nikocaro1392',
 'harman2779',
 'michael81276976',
 'klaus5809',
 'lesley4647',
 'pedro2429',
 'nollaig5959',
 'evie2916',
 'jim5285',
 'jim5285',
 'metin8315',
 'gerald7282',
 'debbieandmark5399',
 'derekh',
 'karin9520',
 'lee6515',
 'thomas7955',
 'thomas7955',
 'sandeepsingh2858',
 'sarahandadam5448',
 'rinie4717',
 'chuck2380',
 'chuck2380',
 'stefanomiari',
 'doug4093',
 'toplistbestfictionbo5564',
 'gerlinde6463',
 'naomi67885443',
 'mikemaria7249',
 'tobias5075',
 'tanmay',
 'susan5953',
 'douglas8995',
 'jeanne53233964',
 'jellodiva',
 'judy3495',
 'denise7392',
 'amornwan4232',
 'terry52663587',
 'terry52663587',
 'cassie8926',
 'wouterandfany',
 'john9570',
 'natasha7298',
 'juergen5908',
 'stacy1379',
 'praveenrajasekar',
 'patrickruetter',
 'jane3454',
 'christopher7476',
 'nora6823',
 'sarah1211',
 'sarah1211',
 'sarah1211',
 'sarah1211',
 'ryan1096',
 'jcagomes',
 'suzanne8918',
 'kerry4093',
 'dave6914',
 'gsk',
 'harry9324',
 'eileenandvictor8943',
 'joan6711',
 'francine1535',
 'craig1296',
 'mac9412',
 'eric8583',
 'salandrob6186',
 'caseyl',
 'joannaandmike4344',
 'norvan3688',
 'john1288',
 'neil6273',
 'Leah6742',
 'michaelandmelinda9592',
 'karen2944',
 'zach9722',
 'jordan7519',
 'thewalker9311',
 'robert6772',
 'sarahkathryn',
 'karon4417',
 'doug5185',
 'ronald8745',
 'charles6358',
 'laura3959',
 'kara1501',
 'joan60553118',
 'jessica4connections',
 'shailesh',
 'mingus8729',
 'christian3503',
 'christian3503',
 'nomax',
 'frode',
 'victorial2870',
 'stephen5987',
 'paul23765609',
 'paul6428',
 'erin6824',
 'jacob9653',
 'william2639',
 'elliot3732',
 'connie4751',
 'elena6794',
 'carmen7376',
 'laura1179',
 'heather1546',
 'phillip7727',
 'marc1631',
 'kris1903',
 'angus2640',
 'jamesandshell2373',
 'tamarab',
 'mark2704',
 'indraneel7687',
 'nancy7311',
 'shannonandpatti7539',
 'george8634',
 'frost',
 'matthieu6433',
 'matthew3047',
 'janandmaggie7749',
 'patricia1648',
 'lidia1788',
 'eunice7763',
 'donald5571',
 'richard7719',
 'pamela5886',
 'mike1401',
 'scott9873',
 'scott9873',
 'brenda5160',
 'michael21418121',
 'annette8725',
 'regyjohn',
 'rick8888',
 'craig7834',
 'ben9420',
 'ben9420',
 'morgan7663',
 'susanne5176',
 'hosewinckel7660',
 'gao',
 'ed5743',
 'amy7726',
 'Ravi9208',
 'albert8248',
 'anne8157',
 'adamcordle',
 'barbara5610',
 'lori9430',
 'christopher5171',
 'kamila1320',
 'steve4890',
 'donandkathy6425',
 'peter5514',
 'tony7571',
 'paulandrobyn5292',
 'jennifer9341',
 'kirkland',
 'stanhope8974',
 'iole2405',
 'arnaud4525',
 'steven5197',
 'nigel4691',
 'lpgiraldez',
 'mihai3611',
 'marcziesmer',
 'robenlinda2270',
 'vana5220',
 'lionel1946',
 'david66129435',
 'sam8974',
 'sam8974',
 'sijanrai',
 'mike7912',
 'delbert3382',
 'jillian1643',
 'gregandclare1849',
 'tom7014',
 'tomandjune3533',
 'JY1024',
 'angelina4435',
 'charlie1085',
 'julian8731',
 'detlef',
 'anne9845',
 'ed5743',
 'mike1219',
 'john8871',
 'david61297495',
 'divingdoc36',
 'pat5984',
 'giovannicataldi4083',
 'pierre5663',
 'diane3510',
 'burger',
 'victor3258',
 'barbara5610',
 'thomas3234',
 'szucheng2565',
 'ricardo7052',
 'jack9289',
 'richard4874',
 'jessieinez',
 'andyangie8000',
 'maryana3992',
 'idun4242',
 'steve7920',
 'willychu',
 'irmark',
 'martinezfamilynm',
 'nazaret7843',
 'brian87298920',
 'fiona7583',
 'alex7802',
 'rhonda6343',
 'john37481062',
 'susan5956',
 'albert8514',
 'john1879',
 'zoec',
 'dittes',
 'sidney4048',
 'uncleed1619',
 'trogdorfamily7622',
 'sarah2583',
 'mark99806535',
 'dale2183',
 'michelleandkristian9819',
 'jonesfamily',
 'stacey7032',
 'jane8369',
 'mark9645',
 'sabine4826',
 'frdric2486',
 'susan9076',
 'gunhild2366',
 'matthew7154',
 'daleanddave4907',
 'michael1246',
 'dean2234',
 'james5070',
 'hamish8276',
 'iannace',
 'anne9124',
 'avezziefamily',
 'owassofumc3326',
 'ellen4684',
 'lynn5507',
 'francois6628',
 'francois6628',
 'phill9950',
 'ilona9961',
 'dina6457',
 'bumpycat',
 'enwezor2644',
 'cathianne8063',
 'marcandr8568',
 'mishka8668',
 'avi9735',
 'barbara2376',
 'susan2633',
 'gianandreaeandrea',
 'laurelz',
 'vgopinath',
 'jose3712',
 'gene8177',
 'skreened',
 'jeff2322',
 'kevin6441',
 'kevin6441',
 'bill8134',
 'richard1132',
 'robert1951',
 'gomike',
 'neak',
 'neak',
 'pedersmed4472',
 'michael48913780',
 'patrick8201',
 'kaspar4426',
 'malte4719',
 'sarah10669637',
 'john56537153',
 'weinberger',
 'daniel5023',
 'kristin2911',
 'Darebakus7028',
 'arica',
 'michael63426267',
 'joshuachan',
 'magdalena9892',
 'harold5997',
 'michael3061',
 'tage',
 'jensdamsgaardvanar',
 'hedymaigs',
 'linde6700',
 'nigel5030',
 'Gallifante',
 'caryl7997',
 'alberto5618',
 'donald3162',
 'bill9445',
 'gooddogg1',
 'rich6705',
 'charles6568',
 'bubbascafe',
 'tracey8474',
 'daniel1064',
 'dennis4138',
 'jarrod4964',
 'karen6436',
 'EGL',
 'nick8730',
 'heike1534',
 'beverly',
 'ken7832',
 'gerald5541',
 'andyonkiva',
 'jillian1643',
 'margaret1978',
 'susan9216',
 'goodshepherducc9050',
 'pryor2007',
 'brenda6332',
 'mark8092',
 'david3125',
 'anne3351',
 'wjp',
 'benedictsteele',
 'kim3330',
 'marsha7181',
 'lasse8792',
 'stephen2764',
 'nathan7801',
 'pascalvanhecke',
 'jasonlee',
 'ted8755',
 'wayne6139',
 'sharon4463',
 'divingdoc36',
 'howard7012',
 'anders4222',
 'charlie3879',
 'matt50679987',
 'joan9289',
 'michele4530',
 'maphew',
 'zim7148',
 'emofund',
 'melissa7297',
 'julie3027',
 'brendan1249',
 'antonio6568',
 'beverly',
 'creativeeconomy',
 'james4890',
 'xyz1373',
 'caroline4851',
 'mags6440',
 'starsknight',
 'joanna6771',
 'dorien8995',
 'natalie4612',
 'peggy1370',
 'luke8286',
 'chalanx',
 'jannis9788',
 'prabodh5470',
 'diane6096',
 'leslie8320',
 'carlo9232',
 'bernhard1113',
 'jennifer86293639',
 'rie6860',
 'natoya4299',
 'krauspartner',
 'tracey9969',
 'roman6673',
 'laurie9583',
 'chad1043',
 'hisadafamily8666',
 'lauraleong',
 'jim7785',
 'thomas3791',
 'thomas3791',
 'julie8037',
 'maureenandbill7908',
 'joel5645',
 'leeann5973',
 'derek9183',
 'stephen7228',
 'timothy6485',
 'sandy5828',
 'tim4819',
 'stewartandjoanna6718',
 'albertw',
 'timothy7790',
 'wendy9105',
 'roxandal5758',
 'heidi9127',
 'sandy3893',
 '25perday',
 'ali91125852',
 'angela6286',
 'natalie16922915',
 'matthew64195818',
 'brooke8026',
 'paula3738',
 'catherine8081',
 'christy2688',
 'lindsay3373',
 'jasoninchicago',
 'jenny2529',
 'frank3452',
 'raymond4538',
 'rob6883',
 'vasu6972',
 'molly3537',
 'jonathanheather1555',
 'andrew2954',
 'erica7803',
 'ultrasara',
 'john36421277',
 'mariliis4011',
 'renee8611',
 'leanne5754',
 'tim4058',
 'sudds',
 'jo8468',
 'adamscottprice',
 'wilma6195',
 'nate4569',
 'carolyn8576',
 'kelly31908638',
 'brenda9272',
 'brenda9272',
 'mary3259',
 'caroline5418',
 'caroline5418',
 'anush6731',
 'mel7714',
 'vladstan',
 'leejohn8697',
 'lynn5475',
 'suthi',
 'ajit3049',
 'toby1460',
 'dawn6170',
 'beth1817',
 'michael64749969',
 'tfrab',
 'christopher38035375',
 'lloydminsterrotarycl6639',
 'julie9582',
 'lorenzo7127',
 'jeanetteingrid9958',
 'mohannad',
 'kimberly5146',
 'shirley1905',
 'barbara5987',
 'alexiosstefanos5966',
 'lorea3139',
 'sean3201',
 'jeffreyandannegret9319',
 'douglas3301',
 'steve8782',
 'marion2587',
 'judy9116',
 'alice8507',
 'shane8924',
 'gord6319',
 'john5744',
 'marthaandrobert8020',
 'karin8006',
 'dennis9163',
 'sustainableequity9628',
 'karen8054',
 'sandy3287',
 'cchan3330',
 'ben95621346',
 'andrew5018',
 'yoram3554',
 'phonse5983',
 'david77732635',
 'normandmichelle8811',
 'howard4754',
 'kevinandkevin5061',
 'jimandmaggie',
 'halli1215',
 'kate8166',
 'gustavocpimenta',
 'joann9259',
 'william1104',
 'peeta5736',
 'tracy9170',
 'eric3465',
 'diane5157',
 'christina1088',
 'john6732',
 'debra7424',
 'nelson3926',
 'haitham',
 'michael6150',
 'wendy4343',
 'austin1984',
 'jaclyn4676',
 'louise1987',
 'neilthanedar',
 'wendy5056',
 'kate4058',
 'cathy6947',
 'tonyonkiva',
 'casschristine5146',
 'kate3357',
 'vito8085',
 'victoria2140',
 'agnieszka6878',
 'tom1199',
 'joacim2931',
 'bobbie5048',
 'alison3893',
 'porter9696',
 'rachelle9002',
 'leslie4054',
 'janr9603',
 'jivan3702',
 'michael66234053',
 'janandjohn',
 'michelle7526',
 'tanya5801',
 'patricia7040',
 'kris7164',
 'lifeinamsterdam',
 'stevenandrhondabill',
 'meghan2393',
 'gilberto7688',
 'jonathan6863',
 'max1495',
 'anne9124',
 'rebecca4187',
 'athena6426',
 'debs8578',
 'suzi6265',
 'claudia3062',
 'linda4162',
 'alexander1835',
 'migs2670',
 'mary4373',
 'tove4710',
 'robert5348',
 'jan92',
 'mlanie1854',
 'carla2983',
 'joakim8782',
 'arealrattlesnake',
 'ellen4684',
 'laura1416',
 'dan66559622',
 'cate4432',
 'tedandalexann8840',
 'david64376525',
 'james80465004',
 'amy7407',
 'jorge5645',
 'kyle9253',
 'shaun3027',
 'laura4210',
 'krisan8949',
 'kara5723',
 'johan4746',
 'zan4576',
 'karen94096564',
 'becky4310',
 'eric9311',
 'svuorela',
 'patrick1624',
 ...]

In [32]:
#SECOND AXIS - using vectorized operations we boost the performance using internal opimized C procedures
loan_ids = [loan_id for loan_id in df_loan_lenders['loan_id']]
loan_ids

[483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 566244,
 566244,
 566244,
 566244,
 566244,
 596677,
 596677,
 596677,
 596677,
 596677,
 596677,
 596677,
 596677,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 ...]

In [29]:
%%time
cardinality = [len(lenders.split(", ")) for lenders in df_loan_lenders['lenders']]
cardinality

CPU times: user 2 s, sys: 38.7 ms, total: 2.04 s
Wall time: 2.08 s

[40,
 15,
 15,
 13,
 19,
 13,
 11,
 23,
 13,
 32,
 5,
 8,
 38,
 75,
 83,
 19,
 24,
 137,
 154,
 37,
 480,
 11,
 17,
 47,
 90,
 81,
 89,
 8,
 27,
 28,
 17,
 35,
 33,
 23,
 50,
 31,
 91,
 6,
 37,
 103,
 70,
 16,
 121,
 319,
 17,
 17,
 58,
 12,
 33,
 72,
 136,
 35,
 15,
 41,
 21,
 14,
 14,
 14,
 23,
 15,
 15,
 40,
 35,
 3,
 12,
 25,
 29,
 17,
 29,
 3,
 9,
 67,
 57,
 44,
 17,
 93,
 156,
 435,
 14,
 24,
 68,
 19,
 60,
 21,
 25,
 29,
 28,
 26,
 56,
 86,
 58,
 23,
 65,
 23,
 33,
 63,
 46,
 43,
 18,
 4,
 23,
 71,
 71,
 37,
 26,
 61,
 31,
 14,
 9,
 5,
 37,
 22,
 67,
 165,
 39,
 17,
 176,
 22,
 9,
 52,
 39,
 36,
 17,
 68,
 24,
 75,
 83,
 17,
 110,
 89,
 27,
 22,
 14,
 183,
 69,
 10,
 26,
 28,
 77,
 7,
 19,
 44,
 127,
 26,
 23,
 28,
 16,
 36,
 76,
 7,
 12,
 11,
 18,
 34,
 27,
 67,
 30,
 14,
 130,
 50,
 17,
 7,
 27,
 8,
 7,
 10,
 20,
 3,
 3,
 19,
 4,
 47,
 48,
 33,
 18,
 8,
 36,
 4,
 37,
 7,
 4,
 7,
 10,
 25,
 17,
 5,
 8,
 9,
 17,
 24,
 5,
 50,
 25,
 36,
 47,
 7,
 10,
 5,
 4,
 4,
 46,
 22,
 35,
 44,
 25,
 77,
 49,
 24,
 33,
 30,
 25,
 120,
 116,
 63,
 36,
 84,
 36,
 42,
 20,
 12,
 59,
 22,
 45,
 16,
 46,
 96,
 37,
 25,
 28,
 37,
 19,
 72,
 32,
 160,
 14,
 80,
 39,
 60,
 63,
 131,
 74,
 75,
 99,
 16,
 127,
 20,
 119,
 49,
 18,
 19,
 17,
 29,
 15,
 24,
 22,
 91,
 58,
 97,
 18,
 50,
 71,
 38,
 19,
 14,
 88,
 11,
 50,
 183,
 37,
 6,
 53,
 1,
 8,
 17,
 8,
 29,
 9,
 38,
 33,
 3,
 42,
 16,
 6,
 5,
 11,
 12,
 38,
 10,
 13,
 14,
 29,
 86,
 23,
 50,
 46,
 4,
 18,
 9,
 33,
 1,
 34,
 36,
 76,
 33,
 14,
 17,
 52,
 8,
 64,
 8,
 28,
 11,
 15,
 1,
 1,
 94,
 6,
 6,
 1,
 9,
 6,
 54,
 14,
 27,
 41,
 23,
 43,
 14,
 23,
 29,
 20,
 10,
 10,
 7,
 26,
 65,
 52,
 30,
 24,
 8,
 13,
 9,
 4,
 18,
 17,
 12,
 3,
 7,
 17,
 12,
 29,
 7,
 2,
 6,
 35,
 9,
 23,
 20,
 6,
 12,
 9,
 77,
 46,
 178,
 4,
 4,
 45,
 2,
 16,
 8,
 7,
 16,
 11,
 45,
 21,
 22,
 10,
 41,
 11,
 25,
 6,
 2,
 15,
 3,
 5,
 7,
 12,
 154,
 40,
 37,
 55,
 19,
 81,
 72,
 35,
 28,
 34,
 24,
 34,
 98,
 33,
 12,
 48,
 35,
 8,
 27,
 7,
 23,
 351,
 41,
 84,
 57,
 61,
 69,
 50,
 11,
 32,
 21,
 23,
 23,
 36,
 16,
 67,
 66,
 22,
 36,
 177,
 16,
 49,
 47,
 16,
 50,
 34,
 24,
 138,
 83,
 30,
 34,
 14,
 27,
 37,
 29,
 80,
 35,
 24,
 30,
 31,
 24,
 104,
 32,
 47,
 129,
 14,
 139,
 25,
 15,
 59,
 16,
 11,
 72,
 34,
 35,
 17,
 24,
 28,
 21,
 75,
 31,
 19,
 32,
 64,
 52,
 37,
 92,
 51,
 17,
 20,
 49,
 48,
 73,
 17,
 5,
 20,
 112,
 22,
 32,
 9,
 12,
 46,
 39,
 7,
 25,
 5,
 8,
 27,
 75,
 14,
 71,
 3,
 18,
 8,
 44,
 23,
 17,
 19,
 9,
 11,
 12,
 28,
 23,
 13,
 20,
 51,
 12,
 17,
 27,
 122,
 5,
 12,
 8,
 23,
 17,
 6,
 45,
 12,
 80,
 19,
 14,
 15,
 17,
 20,
 18,
 15,
 18,
 13,
 35,
 34,
 22,
 17,
 26,
 83,
 5,
 16,
 13,
 16,
 33,
 51,
 16,
 14,
 27,
 33,
 22,
 36,
 20,
 104,
 163,
 17,
 64,
 23,
 23,
 14,
 33,
 59,
 25,
 128,
 21,
 195,
 26,
 14,
 15,
 68,
 33,
 153,
 17,
 51,
 17,
 45,
 34,
 13,
 7,
 25,
 15,
 56,
 35,
 14,
 9,
 20,
 26,
 43,
 20,
 20,
 12,
 8,
 33,
 73,
 47,
 35,
 67,
 20,
 25,
 9,
 12,
 30,
 53,
 15,
 18,
 33,
 57,
 85,
 38,
 5,
 31,
 35,
 11,
 12,
 39,
 14,
 20,
 20,
 54,
 50,
 30,
 35,
 45,
 67,
 39,
 41,
 37,
 7,
 17,
 26,
 17,
 25,
 21,
 7,
 11,
 25,
 94,
 27,
 19,
 16,
 5,
 13,
 36,
 12,
 11,
 30,
 57,
 20,
 5,
 9,
 42,
 13,
 13,
 4,
 18,
 25,
 10,
 44,
 36,
 17,
 34,
 42,
 15,
 32,
 7,
 8,
 8,
 12,
 18,
 11,
 28,
 23,
 17,
 3,
 7,
 39,
 8,
 45,
 14,
 68,
 12,
 8,
 8,
 18,
 30,
 12,
 16,
 36,
 4,
 2,
 1,
 1,
 21,
 62,
 9,
 4,
 41,
 36,
 14,
 13,
 2,
 50,
 75,
 22,
 53,
 17,
 6,
 188,
 10,
 16,
 1,
 33,
 6,
 13,
 36,
 47,
 1,
 18,
 4,
 29,
 10,
 17,
 14,
 11,
 8,
 16,
 11,
 5,
 3,
 14,
 17,
 6,
 12,
 12,
 19,
 22,
 6,
 17,
 4,
 17,
 53,
 20,
 3,
 4,
 20,
 4,
 2,
 1,
 12,
 6,
 6,
 5,
 2,
 13,
 27,
 9,
 6,
 14,
 11,
 10,
 12,
 9,
 31,
 21,
 11,
 4,
 6,
 13,
 8,
 11,
 8,
 214,
 14,
 6,
 11,
 27,
 17,
 8,
 40,
 24,
 3,
 4,
 6,
 5,
 4,
 6,
 10,
 13,
 3,
 6,
 26,
 2,
 8,
 16,
 12,
 1,
 14,
 9,
 37,
 44,
 1,
 1,
 9,
 16,
 4,
 2,
 2,
 5,
 9,
 4,
 5,
 9,
 13,
 3,
 1,
 3,
 13,
 14,
 6,
 32,
 8,
 5,
 48,
 6,
 1,
 8,
 28,
 7,
 4,
 28,
 3,
 8,
 5,
 17,
 14,
 9,
 5,
 3,
 6,
 12,
 43,
 8,
 10,
 2,
 16,
 39,
 22,
 5,
 49,
 20,
 14,
 13,
 30,
 92,
 144,
 10,
 9,
 49,
 21,
 10,
 18,
 9,
 16,
 4,
 13,
 7,
 9,
 18,
 28,
 11,
 5,
 9,
 16,
 5,
 51,
 93,
 6,
 33,
 60,
 15,
 62,
 8,
 7,
 10,
 8,
 78,
 37,
 11,
 20,
 3,
 5,
 8,
 6,
 8,
 6,
 3,
 6,
 13,
 51,
 7,
 32,
 13,
 10,
 11,
 50,
 15,
 21,
 7,
 47,
 4,
 3,
 22,
 12,
 5,
 6,
 8,
 3,
 11,
 5,
 14,
 14,
 3,
 5,
 25,
 31,
 23,
 36,
 33,
 4,
 8,
 19,
 53,
 4,
 6,
 2,
 9,
 4,
 5,
 4,
 1,
 8,
 27,
 3,
 4,
 5,
 64,
 30,
 2,
 22,
 13,
 8,
 18,
 1,
 1,
 63,
 4,
 15,
 2,
 24,
 51,
 4,
 4,
 16,
 10,
 22,
 52,
 26,
 20,
 8,
 42,
 5,
 4,
 19,
 3,
 4,
 8,
 28,
 71,
 17,
 100,
 28,
 103,
 38,
 62,
 21,
 31,
 9,
 32,
 26,
 17,
 12,
 68,
 18,
 58,
 158,
 57,
 32,
 16,
 15,
 ...]

In [30]:
%% time

#create a new list with repeated ids for each loan in the same original row
flatted_ids = list(itertools.chain(*[[loan_ids[i]] * cardinality[i] for i in range(0, len(loan_ids))]))
flatted_ids

[483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483693,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 483738,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 485000,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 486087,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 534428,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 558112,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 563395,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 575414,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 578029,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 551251,
 566244,
 566244,
 566244,
 566244,
 566244,
 596677,
 596677,
 596677,
 596677,
 596677,
 596677,
 596677,
 596677,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 302373,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 417025,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 524323,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 583717,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 558830,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 310667,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 494337,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 315025,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 573696,
 ...]

In [31]:
#DATAFRAME
df_loan_lenders = pd.DataFrame({'loan_id':flatted_ids, 'lender':lenders})

#More then 28 milions of records
df_loan_lenders

          loan_id             lender
0          483693             muc888
1          483693            sam4326
2          483693        camaran3922
3          483693        lachheb1865
4          483693        rebecca3499
...           ...                ...
28293926  1206425  trogdorfamily7622
28293927  1206425          danny6470
28293928  1206425            don6118
28293929  1206486           alan5175
28293930  1206486        amy38101311

[28293931 rows x 2 columns]

## 2 <a class="anchor" id="duration">Duration</a>
#### For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.
[⇑ index](#main)

Specifying column names and types we can avoid unnecessary data and boost performance because we can read only what we need and the interpreter won't infer data types during the scan.

In [33]:
%%time
df_loans = pd.read_csv('kiva-kaggle/loans.csv',
                       usecols=['loan_id', 'disburse_time', 'planned_expiration_time', 'country_code', 'country_name', 'loan_amount', 'num_lenders_total', 'funded_amount'],
                       dtype={'loan_id': np.int32, 'disburse_time': 'str', 'planned_expiration_time': 'str', 'country_code': 'str', 'country_name': 'str', 'loan_amount': 'float', 'num_lenders_total': np.int32, 'funded_amount': 'float'})

#it should be possible to parse datetime by specifying a lambda parser in read_csv method but
#with vectorized operations we saved more then 2 minutes for this loading.
df_loans['planned_expiration_time'] = pd.to_datetime(df_loans['planned_expiration_time'])
df_loans['disburse_time']= pd.to_datetime(df_loans['disburse_time'])
df_loans["duration"] = df_loans['planned_expiration_time'] - df_loans['disburse_time']

df_loans[['disburse_time', 'planned_expiration_time', 'duration']]

CPU times: user 9.83 s, sys: 2.45 s, total: 12.3 s
Wall time: 14.9 s

                    disburse_time   planned_expiration_time         duration
0       2013-12-22 08:00:00+00:00 2014-02-14 03:30:06+00:00 53 days 19:30:06
1       2013-12-20 08:00:00+00:00 2014-03-26 22:25:07+00:00 96 days 14:25:07
2       2014-01-09 08:00:00+00:00 2014-02-15 21:10:05+00:00 37 days 13:10:05
3       2014-01-17 08:00:00+00:00 2014-02-21 03:10:02+00:00 34 days 19:10:02
4       2013-12-17 08:00:00+00:00 2014-02-13 06:10:02+00:00 57 days 22:10:02
...                           ...                       ...              ...
1419602 2015-11-23 08:00:00+00:00 2016-01-02 01:00:03+00:00 39 days 17:00:03
1419603 2015-11-24 08:00:00+00:00 2016-01-02 16:40:07+00:00 39 days 08:40:07
1419604 2015-11-13 08:00:00+00:00 2016-01-03 22:20:04+00:00 51 days 14:20:04
1419605 2015-11-03 08:00:00+00:00 2016-01-05 08:50:02+00:00 63 days 00:50:02
1419606 2015-11-03 08:00:00+00:00 2016-01-03 20:50:06+00:00 61 days 12:50:06

[1419607 rows x 3 columns]

## 3 <a class="anchor" id="search-lenders">Search lenders</a>
#### Find the lenders that have funded at least twice.
[⇑ index](#main)

Pandas aggregation methods give us the possibility to create grouped dataframe and apply aggregation functions such as the occurrences counting.

In [34]:
%%time

df_lenders_multifunder = df_loan_lenders.groupby(['lender']).count().rename(columns={"loan_id": "funds"}).sort_values(by=["funds"])
df_lenders_multifunder = df_lenders_multifunder[df_lenders_multifunder["funds"] >= 2]
df_lenders_multifunder

CPU times: user 10.3 s, sys: 4.11 s, total: 14.4 s
Wall time: 17.1 s

                   funds
lender
clifford1150           2
sofe8281               2
barbi3519              2
ernesto5398            2
awgmqi9423             2
...                  ...
themissionbeltco   81434
nms               104314
gmct              128159
trolltech4460     150762
gooddogg1         177645

[901811 rows x 1 columns]

## 4 <a class="anchor" id="borrowers">How many loans</a>
#### For each country, compute how many loans have involved that country as borrowers.
[⇑ index](#main)

There is a problem with Namibia country, in all records corresponding to this Country we haven't the **country_code**, I take this opportunity to upload country data but we noticed that even from country_stats.csv Namibia has null value in **country_code**. So we decided to force the setting of Namibia iso 2chars code to 'NA' in order to have consistent data in the original **df_loans** dataset.

In [35]:
df_loans[df_loans["country_code"].isnull()][['loan_id', 'country_code', 'country_name']]

         loan_id country_code country_name
82889     991853          NaN      Namibia
156970    513472          NaN      Namibia
598087    851360          NaN      Namibia
684876   1068159          NaN      Namibia
971827    998555          NaN      Namibia
1134818  1147866          NaN      Namibia
1214923   851368          NaN      Namibia
1281022  1147852          NaN      Namibia
1415763  1068167          NaN      Namibia

In [36]:
df_countries = pd.read_csv('kiva-kaggle/country_stats.csv')
df_countries[df_countries["country_code"].isnull()]

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name
115,Namibia,NaN,NAM,Africa,Southern Africa,2533794,28.7,0.640007,65.062,11.657589,6.676,9769.848507,Namibia

In [37]:
#FIXING DF_LOANS
#it should be fixed applying a function to the dataset that will set a 'NA' value where a null value is found
#but we found this two step solution (divide two subsets and append them again) very faster against the apply function

#Vectorized operations are more optimized then the apply.

df_namibia = df_loans[df_loans["country_code"].isnull()]
df_namibia.country_code = ['NA'] * len(df_namibia)
df_loans = df_loans[df_loans["country_code"].notnull()].append(df_namibia)

/Users/anand/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [38]:
%%time
df_countries_borrows = df_loans[['country_code', 'country_name', 'loan_id']].groupby(['country_name']).count().rename(columns={"loan_id": "borrows"}).sort_values(by=["borrows"])
df_countries_borrows

CPU times: user 164 ms, sys: 32.3 ms, total: 196 ms
Wall time: 206 ms

                  country_code  borrows
country_name
Mauritania                   1        1
Papua New Guinea             1        1
Uruguay                      1        1
Botswana                     1        1
Canada                       1        1
...                        ...      ...
El Salvador              64037    64037
Cambodia                 79701    79701
Peru                     86000    86000
Kenya                   143699   143699
Philippines             285336   285336

[96 rows x 2 columns]

## 5 <a class="anchor" id="overall-amount">Overall amount</a>
#### For each country, compute the overall amount of money borrowed
[⇑ index](#main)

In [39]:
%%time
df_countries_borrowed = df_loans[['country_code', 'country_name', 'loan_amount']].groupby(['country_code', 'country_name'], as_index=False).sum().rename(columns={"loan_amount": "borrowed"}).sort_values(by=["borrowed"])
df_countries_borrowed

CPU times: user 171 ms, sys: 41.1 ms, total: 212 ms
Wall time: 237 ms

   country_code    country_name    borrowed
30           GZ            Gaza      5000.0
85           UY         Uruguay      8000.0
12           BW        Botswana      8000.0
89           VU         Vanuatu      9250.0
87           VI  Virgin Islands     10000.0
..          ...             ...         ...
40           KH        Cambodia  51613525.0
66           PY        Paraguay  53964700.0
38           KE           Kenya  66735975.0
60           PE            Peru  79437775.0
62           PH     Philippines  97984600.0

[96 rows x 3 columns]

## 6 <a class="anchor" id="overall-amount">Overall percentage</a>
#### Like the previous point, but expressed as a percentage of the overall amount lent.
[⇑ index](#main)

In [40]:
total_borrowed = df_countries_borrowed.borrowed.sum()
#vectorized operation
total_borrowed_perc = (df_countries_borrowed.borrowed / total_borrowed) * 100

df_countries_borrowed_perc = pd.DataFrame({'country_name': df_countries_borrowed.country_name, 'borrowed':total_borrowed_perc})
df_countries_borrowed_perc

      country_name  borrowed
30            Gaza  0.000423
85         Uruguay  0.000677
12        Botswana  0.000677
89         Vanuatu  0.000783
87  Virgin Islands  0.000846
..             ...       ...
40        Cambodia  4.368706
66        Paraguay  4.567716
38           Kenya  5.648711
60            Peru  6.723825
62     Philippines  8.293678

[96 rows x 2 columns]

## 7 <a class="anchor" id="year-overall-percentage">Overall by country/year</a>
#### Like the three previous points, but split for each year (with respect to disburse time).
[⇑ index](#main)

The following dataset is the grouped amount by **country_name** and **year**

In [41]:
df_loans_year = df_loans[['country_name', 'disburse_time', 'loan_amount']].rename(columns={"loan_amount": "borrowed"})
df_loans_year['year'] = df_loans.disburse_time.dt.year

df_countries_borrowed_year = df_loans_year.groupby(['country_name', 'year']).sum().sort_values(by=["borrowed"])
df_countries_borrowed_year

                       borrowed
country_name year
Paraguay     2018.0        50.0
Pakistan     2018.0       150.0
Philippines  2018.0       300.0
Mexico       2018.0       475.0
Thailand     2012.0      1050.0
...                         ...
Kenya        2015.0  10257950.0
Philippines  2014.0  13961450.0
             2015.0  16083375.0
             2016.0  16218925.0
             2017.0  17096900.0

[748 rows x 1 columns]

We need the total amounts for each year

In [42]:
overall_years = df_loans_year.groupby(['year']).sum()
overall_years

           borrowed
year
2005.0     102850.0
2006.0    1376575.0
2007.0   15446525.0
2008.0   39423050.0
2009.0   59689475.0
2010.0   72609150.0
2011.0   93699300.0
2012.0  119977575.0
2013.0  132043925.0
2014.0  152270425.0
2015.0  155835650.0
2016.0  160978375.0
2017.0  166053650.0
2018.0     990025.0

Again, with vectorized operations we can boost our computation. In this case a division by matching the indexes will be done.
In case of an uncomparable matching is given the following error will be displayed: **ValueError: cannot join with no overlapping index names**

In [43]:
df_countries_borrowed_year = df_countries_borrowed_year / overall_years * 100
df_countries_borrowed_year

                      borrowed
country_name year
Paraguay     2018.0   0.005050
Pakistan     2018.0   0.015151
Philippines  2018.0   0.030302
Mexico       2018.0   0.047979
Thailand     2012.0   0.000875
...                        ...
Kenya        2015.0   6.582544
Philippines  2014.0   9.168852
             2015.0  10.320729
             2016.0  10.075220
             2017.0  10.296010

[748 rows x 1 columns]

## 8 <a class="anchor" id="lenders-overall">Lenders overall</a>
#### For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.
[⇑ index](#main)

The total number of lenders, for each loan, is specified by the **num_lenders_total** feature, and the effective funded amount by the **funded_amount** feature. As you can see from the next table the loan_amount can be different from the funded amount.

In [44]:
df_loans[df_loans["loan_amount"] != df_loans["funded_amount"]][['loan_id', 'loan_amount', 'funded_amount']]

         loan_id  loan_amount  funded_amount
22        957461        225.0          100.0
25        959145        300.0          225.0
36        416929       1000.0          425.0
46        419381        875.0          275.0
50        421569       1200.0          325.0
...          ...          ...            ...
1419525  1089430        225.0          125.0
1419538  1235452       3000.0          600.0
1419545   987838       1025.0          725.0
1419564  1151269       8750.0           50.0
1419579   988095        700.0          350.0

[64291 rows x 3 columns]

So now we can merge all the informations and compute the desired values, in this step **funded_amount** will change its original representation and will be reshaped with a **single quota** funded by lenders. A vectorized operation will be applied for this scope.

In [45]:
df_loan_funds = df_loans[['loan_id', 'funded_amount', 'num_lenders_total']]
df_loan_funds.funded_amount = df_loan_funds.funded_amount / df_loan_funds.num_lenders_total
df_loan_funds = df_loan_funds[['loan_id', 'funded_amount']].set_index('loan_id')
df_loan_funds

/Users/anand/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

         funded_amount
loan_id
657307       41.666667
657259       36.363636
658010       25.000000
659347       29.761905
656933       28.333333
...                ...
998555       26.388889
1147866      27.322404
851368       26.100629
1147852      27.868852
1068167      28.177966

[1419607 rows x 1 columns]

In [46]:
df_lender_funds = pd.merge(df_loan_lenders, df_loan_funds, on="loan_id").drop(columns=["loan_id"]).groupby(['lender']).sum()
df_lender_funds

                funded_amount
lender
000               1512.095370
00000             1249.127691
0002              2201.180463
00mike00            38.461538
0101craign0101    2424.088932
...                       ...
zzmcfate         57535.947017
zzpaghetti9994      44.247788
zzrvmf8538         480.818179
zzzsai             236.888048
zzzworld            26.315789

[1383799 rows x 1 columns]

## 9 <a class="anchor" id="country-lent-borrowed">Country, lent vs borrowed</a>
#### For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.
[⇑ index](#main)

In [19]:
df_lenders = pd.read_csv('kiva-kaggle/lenders.csv')
df_lenders

,permanent_name,display_name,city,state,country_code,member_since,occupation,loan_because,loan_purchase_num,invited_by,num_invited
0,qian3013,Qian,NaN,NaN,NaN,1461300457,NaN,NaN,1.0,NaN,0
1,reena6733,Reena,NaN,NaN,NaN,1461300634,NaN,NaN,9.0,NaN,0
2,mai5982,Mai,NaN,NaN,NaN,1461300853,NaN,NaN,NaN,NaN,0
3,andrew86079135,Andrew,NaN,NaN,NaN,1461301091,NaN,NaN,5.0,Peter Tan,0
4,nguyen6962,Nguyen,NaN,NaN,NaN,1461301154,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
2349169,janet7309,Janet,NaN,NaN,NaN,1342097163,NaN,NaN,NaN,NaN,0
2349170,pj4198,NaN,NaN,NaN,NaN,1342097515,NaN,NaN,NaN,NaN,0
2349171,maria2141,Maria,NaN,NaN,US,1342099723,NaN,NaN,2.0,NaN,0
2349172,simone9846,Simone,NaN,NaN,NaN,1342100213,NaN,NaN,NaN,NaN,0
2349173,laurie1160,Laurie,Timonium,Maryland,US,1342101767,NaN,NaN,1.0,Verian,0

In [20]:
df_lenders.count()

permanent_name       2349174
display_name         2346406
city                  729868
state                 635693
country_code          890539
member_since         2349174
occupation            504660
loan_because          174322
loan_purchase_num    1454893
invited_by            496825
num_invited          2349174
dtype: int64

The tables above highlights how many **missing values** we have in country_code and that the permanent_name seems to be the primary key, given the difference between the **permanent_name** key and the **country_code** occurrences we have more then 50% of missing values. Now the most important thing is to fill those missing values with an equal distribution in respect of known countries.

In [21]:
#initialize a subset of original dataset
length = len(df_lenders)
df_lenders_sub = df_lenders[['permanent_name', 'country_code', 'num_invited']].rename(columns={"num_invited": "total"})
df_lenders_sub.total = [0] * length
df_lenders_sub

#take all the lenders with missing country values
df_lenders_no_country = df_lenders_sub[df_lenders_sub['country_code'].isnull()]
length_no_country = len(df_lenders_no_country)

#take all the lenders with missing country values
df_lenders_with_country = df_lenders_sub[df_lenders_sub['country_code'].notnull()]

#distribution of known countries
df_country_lenders = df_lenders_sub[['country_code', 'total']].groupby(['country_code']).count()
length_country = df_country_lenders['total'].sum()
df_country_lenders["relative"] = df_country_lenders["total"] / length_country
df_country_lenders["to_fill"] = df_country_lenders["relative"] * length_no_country
df_country_lenders

              total  relative      to_fill
country_code
AD               15  0.000017    24.568857
AE             1043  0.001171  1708.354497
AF              228  0.000256   373.446621
AG                8  0.000009    13.103390
AI                4  0.000004     6.551695
...             ...       ...          ...
YE              195  0.000219   319.395136
YT                2  0.000002     3.275848
ZA             1051  0.001180  1721.457887
ZM               65  0.000073   106.465045
ZW               54  0.000061    88.447884

[234 rows x 3 columns]

Above table represent the country known distribution with absolute **total** values, **relative** values in respect of total known country distribution and, finally, the simulation **to_fill** expressed in real values in order to preserve the same proportionality.

**Following assertions will check the cardinality and proportion of our computations**

In [22]:
assert(abs(df_country_lenders.to_fill.sum() - length_no_country) < 0.0001), "Cardinality error: the total number of countries to be entered differs from the total number of missing countries"
assert(abs(df_country_lenders.to_fill / length_no_country - df_country_lenders.relative < 0.0001).all()), "Proportionality error: proportion between countries to be entered in respect to the total missing values differs from the relative known distribution"

We have to apply an approximation in final total values to be entered because we cannot insert 24.56 AD values but 24 or 25. So using the integer round approximation we will continue our work.

In [23]:
df_country_lenders["to_fill_final"] = df_country_lenders.to_fill.round()
delta = int(df_country_lenders.to_fill_final.sum() - df_country_lenders.to_fill.sum()) #there will be a difference, such as -7
single = delta / abs(delta) #we want 1 or -1
delta_vector = ([single] * abs(delta)) + [0] * (len(df_country_lenders) - abs(delta)) #create the following (1,...,1,0,...,0)
df_country_lenders.to_fill_final = df_country_lenders.to_fill_final - delta_vector #adapt final values

In [24]:
assert(df_country_lenders.to_fill_final.sum() == length_no_country), "Cardinality error: the total number of countries to be entered differs from the total number of missing countries"

In [25]:
missing_countries = [[df_country_lenders.iloc[i].name] * int(df_country_lenders.iloc[i]["to_fill_final"]) for i in range(len(df_country_lenders))]
missing_countries = list(itertools.chain(*missing_countries)) #flat list
assert(len(missing_countries) == length_no_country), "Cardinality error: the total number of countries to be entered differs from the total number of missing countries"

No more **missing_values** in the next dataset. We need the total funded by lenders so we will add it to the dataset

In [26]:
df_lenders_no_country.country_code = missing_countries
df_lenders_nomissing = df_lenders_with_country.append(df_lenders_no_country)[["permanent_name", "country_code"]].rename(columns={'permanent_name': 'lender'})
df_lenders_nomissing = df_lenders_nomissing.merge(df_lender_funds, on='lender')
df_countries_funded = df_lenders_nomissing[['country_code', 'funded_amount']].groupby(['country_code']).sum()

The overall amount of money borrowed for each country was computed during the fifth point and we have these values in **df_countries_borrowed** dataframe. Note that countries do not necessarly appear on both lists. We apply a country_code

In [27]:
print("Countries for money borrow: ", len(df_countries_borrowed))
print("Countries for money funded: ", len(df_countries_funded))

Countries for money borrow:  96
Countries for money funded:  216

We can manage this situation with a full outer join because we want all the countries but we cannot know a priori if a country is in one list or in the other. After this, we cannot apply directly the difference, we have to convert null values to 0. We tested two type of strategies. **loc** strategy for updating the values **in loco** and **numpy.where**

From the following benchmark it is clear the reason why we used **np.where**.

```python
%timeit df_country_diff.loc[df_country_diff['borrowed'].isnull(), 'borrowed'] = 0
#1.05 ms ± 7.49 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
%timeit df_country_diff['borrowed'] = np.where(df_country_diff['borrowed'].isnull(), 0, df_country_diff['borrowed'])
#221 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
```

In [28]:
df_country_diff = pd.merge(df_countries_borrowed[['country_code', 'borrowed']].set_index('country_code'),df_countries_funded,on='country_code', how='outer')

df_country_diff.borrowed = np.where(df_country_diff.borrowed.isnull(), 0, df_country_diff.borrowed)
df_country_diff.funded_amount = np.where(df_country_diff.funded_amount.isnull(), 0, df_country_diff.funded_amount)
df_country_diff["difference"] = df_country_diff.funded_amount - df_country_diff.borrowed
df_country_diff

              borrowed  funded_amount   difference
country_code
GZ              5000.0      27.083333 -4972.916667
UY              8000.0   13014.441020  5014.441020
BW              8000.0     178.928571 -7821.071429
VU              9250.0   15098.241997  5848.241997
VI             10000.0    1649.611330 -8350.388670
...                ...            ...          ...
UM                 0.0     804.918555   804.918555
UZ                 0.0     721.966631   721.966631
VA                 0.0      93.636364    93.636364
VE                 0.0    7144.304723  7144.304723
WF                 0.0     168.847752   168.847752

[220 rows x 3 columns]